@import "tailwindcss";

:root {
  --background: #f4f1ea;
  --foreground: #143423;
}

@theme {
  --color-primary: #143423; /* Dark Green – utama */
  --color-background: #f4f1ea; /* Light Cream – latar utama */
  --color-highlight: #e3dac9; /* Warm Beige – section highlight */
  --color-secondary: #697d6c; /* Soft Green-Grey – teks sekunder */
  --color-white: #ffffff; /* Putih – umum */
  --color-accent: #c6a969; /* Gold Accent – untuk aksen */
}

@layer utilities {
  .transition-max-height {
    transition: max-height 0.3s ease;
  }
}

@custom-variant hover (&:hover);

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  position: relative;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.fade {
  animation: fade 2s ease-in-out infinite;
}
